h1 {
    border: 2px #eee solid;
    color: green;
    text-align: center;
    padding: 10px;
}

.flashes {
    background-color: red;
    text-color: red;
    text-wide: 20px;
    text-align: center;