{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Змінити Post {{post.title}} </h1>

    <form method="post">
        <div class="form-control">
            <label for="title"> Title </label>
            <input type="text" name="title" id="title"  placeholder="Post title" class="form-control"
                   value="{{ request.form['title'] or post.title}}">
        </div>
        <div class="form-control">
            <label for="content"> Content </label>
            <textarea name="content" id="content"  placeholder="Post content" class="form-control">
                {{ request.form['title'] or post.content}}
            </textarea>
        </div>
        <div class="form-control">
            <label for="user"> Author </label>
            <input type="text" name="user" id="user"  placeholder="author" class="form-control"
                   value="{{ request.form['user'] or post.user}}">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class ="flashes">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    </div>


</div>

{% endblock %}